{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
  <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="file-upload-errors" method="post" novalidate>
			
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload a CSV file
            </h1>
          </legend>
              
          <div class="govuk-form-group">
		  <label class="govuk-label" for="file-upload-1">
		    <p>You must use a CSV file to do a bulk upload. Once uploaded, we’ll check it for errors. </p>
        <p>If there are any errors we'll let you know what changes you need to make in the file to fix them and upload it again. </p>
        <p>You will be able to check and confirm your new apprentices details before saving and sending to the employer to approve.</p>
        <p>Uploading a file will overwrite any existing apprentice information in your cohort.</p>
		  </label>
      <details class="govuk-details  govuk-!-margin-bottom-8" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help with CSV file and bulk upload
          </span>
        </summary>
        <div class="govuk-details__text">
            <p>If you have a management information system, it may be able to create a CSV file for you. You can also use the <a href="https://www.gov.uk/government/publications/apprenticeship-service-bulk-upload-specification">apprenticeship service bulk upload template</a>.
            </p>
        </div>
      </details>
		  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
		</div>
			
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
  
  
 

  
  
</div>
{% endblock %}

{% endblock %}
