{% extends "layout.html" %}

{% block pageTitle %}
  Apprentice requests
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<a href="#" class="govuk-back-link">Back</a>
  
	<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds"></div>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Apprentice requests
    </h1>
    <form method="post">      
      {{ govukButton({
        text: "Add new apprentice",
        href: "#"
      }) }}
    </form>

    <a  href="apprentice-requests-ready-for-review">
      <div class="govuk-grid-column-one-quarter" style="background-color: #1d70b8; margin:0 20px 20px 0; width:22%; border:#1d70b8 solid 1px;">
        <div class="govuk-!-font-size-48 govuk-!-margin-top-4" style="color:white; font-weight:700;">3</div>
        <p class="govuk-body" style="color:white; text-decoration:underline;">Ready for review</p><br>
      </div>
      </a>
    
      <a href="apprentice-requests-with-employers">
      <div class="govuk-grid-column-one-quarter" style="background-color: #1d70b8; margin:0 20px 20px 0; width:22%; border:#1d70b8 solid 1px;">
        <div class="govuk-!-font-size-48 govuk-!-margin-top-4" style="color:white; font-weight:700;">4</div>
        <p class="govuk-body" style="color:white; text-decoration:underline;">With employers</p><br>
      </div>
      </a>
  
      <a>
      <div class="govuk-grid-column-one-quarter" style="background-color: white; margin: 0 20px 20px 0; width:22%; border:#1d70b8 solid 1px;">
        <div class="govuk-!-font-size-48 govuk-!-margin-top-4" style="color:#1d70b8; font-weight:700;">2</div>
        <p class="govuk-body" style="color:#1d70b8;">Drafts</p><br>
      </div>
      </a>
  
      <a href="apprentice-requests-with-transfer-sending-employers">
      <div class="govuk-grid-column-one-quarter" style="background-color: #1d70b8; margin-bottom:20px; width:22%; border:#1d70b8 solid 1px;">
        <div class="govuk-!-font-size-48 govuk-!-margin-top-4" style="color:white; font-weight:700;">2</div>
        <p class="govuk-body" style="color:white; text-decoration:underline;">With transfer sending employers</p>
      </div>
      </a>

    <!-- table start -->
	  <table class="govuk-table  govuk-!-margin-bottom-8" id="manage-apprenticeships-table" style="font-size: 19px;">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third" onclick="sortApprenticeships(0)"><div class="sort">Employer</th>
        <th scope="col" class="govuk-table__header" onclick="sortApprenticeships(1)"><div class="sort">Reference</th>
          <th scope="col" class="govuk-table__header" onclick="sortApprenticeships(2)"><div class="sort">Date created</th>
        <th scope="col" class="govuk-table__header" style="text-align: right">Number of apprentices</th>
        <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
        <td class="govuk-table__cell">COMPANY LIMITED</td>
        <td class="govuk-table__cell">VRY89L</td>
        <td class="govuk-table__cell">27/09/2021</td>
        <td class="govuk-table__cell" style="text-align: right">2</td>
        <td class="govuk-table__cell"><a href="#">Details</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">LPG302</td>
          <td class="govuk-table__cell">26/09/2021</td>
          <td class="govuk-table__cell" style="text-align: right">1</td>
          <td class="govuk-table__cell"><a href="#">Details</a></td>
          </tr>
        
        </tr>
      </tbody>
      </table>		
      <!-- table end -->  

    </div>
  </main>

  </div>
</div>    
{% endblock %}
{% endblock %}
