
{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}
<div class="govuk-width-container">

     <a href="organisations-and-agreements-v3" class="govuk-back-link">Back</a>

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-xl govuk-!-margin-top-6">AUTOMATION & OPTIMISATION LTD</span>
        <h1 class="govuk-heading-xl">Agreement ID: YJ77B7</h1>
  
     <p class="govuk-body">Listed below are the cohorts you have with this employer.</p>
     <p class="govuk-body">You can download this data as a <a href="#">CSV</a> or <a href="#">Excel</a> file.</p>

     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <ul class="govuk-list govuk-list--bullet">
       <li>RBRG77</li>
       <li>YJ77B7</li>
       <li>M6KRBN</li>
       <li>M7N9B6</li>
       <li>MD676G</li>
       <li>ML8PJL</li>
       <li>MRN9JR</li>
       <li>MX4PRP</li>
       <li>MX68BW</li>
       <li>MYLDY8</li>
       <li>V6JW9J</li>
       <li>V6Y6J4</li>
       <li>VB9KPG</li>
       <li>VD8R7B</li>
       <li>VG6RGL</li>
       <li>VJN4L8</li>
       <li>VX6D8N</li>
       <li>YJ7N6K</li>
       <li>MR669K</li>
       <li>V699YJ</li>
       <li>79967B</li>
       <li>4R7B9K</li>
       <li>4R98D6</li>
       <li>6PLKYL</li>
       <li>9GNRNX</li>
       <li>JK4898</li>
       <li>KK7JLY</li>
       <li>M4XY9G</li>
       <li>M6J7Y9</li>
       <li>M87646</li>
       <li>M8XJ69</li>
       <li>M96JNY</li>
       <li>M96NDW</li>
       <li>MB96YX</li>
       <li>MB9P4R</li>
       <li>MBLNG4</li>
       <li>MJ7697</li>
       <li>MK49WK</li>
       <li>MK8YKB</li>
       <li>MN8GWP</li>
       <li>MNX9DJ</li>
       <li>MPXKBN</li>
       <li>MPXPXW</li>
       <li>MR84PX</li>
       <li>MWKGNR</li>
     </ul>

      </div>
     </div>
</div>

{% endblock %}
{% endblock %}
