#upload-V3 {
     .group-title {
          margin: 2em 0 0 0;
     }
     .govuk-accordion__section {
          .govuk-accordion__section-header {
               // background: govuk-colour("light-grey");
               padding: 1.5em 0;
               button {
                    text-decoration: underline;
                    margin-bottom: 0.15em;
               }
               p {
                    margin: 0;
                    color: $govuk-secondary-text-colour;
               }
          }
     }
}

#order-table-one, #order-table-two, #order-table-three {
     thead {
          tr {
               th {
                    text-decoration: underline;
                    color: $govuk-link-colour;
                    &:hover, &:active, &:focus {
                         cursor: pointer;
                    }
               }
          }
     }
}
