{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
  <a href="choose-employer" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post" a>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Confirm employer</h1>
               </legend>

               <h3 class="govuk-heading-m">SAINSBURY'S</h3>
               <span class="govuk-caption-m">Account name: SAINSBURY'S (non-levy)<br>
               Agreement ID: P4JKRY
               </span>

               <p><h3 class="govuk-heading-s">Is this the employer you'd like to add apprentice details for?</h3></p>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="create-cohort-yes" name="create-cohort-non-levy" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="create-cohort-yes">
                Yes, use SAINSBURY'S
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="create-cohort-no" name="create-cohort-non-levy" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="create-cohort-no">
                No, choose a different employer
              </label>
            </div>
          </div>
      
        </fieldset>
      </div>
      

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

  </main>
</div>
{% endblock %}

{% endblock %}
