{% extends "layout.html" %}

{% block pageTitle %}
Manage apprenticeships
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
	<a href="#" class="govuk-back-link">Back</a>
  
	<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Enter the employer details
    </h1>

<p class="govuk-body">
  Enter the details for the employer. Once the account is created, the employer will be able to add other users.
</p>

<form action="check-details" method="post">

<!-- text inputs -->
<div class="govuk-form-group">
  <label class="govuk-label" for="event-name">
    Employer organisation
  </label>
  <input class="govuk-input" id="event-name" name="event-name" type="text" value="COMPANY LIMITED"></div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="event-name">
      Employer first name
    </label>
    <input class="govuk-input" id="event-name" name="event-name" type="text" value="Hazel"></div>
  
    <div class="govuk-form-group">
      <label class="govuk-label" for="event-name">
        Employer last name
      </label>
      <input class="govuk-input" id="event-name" name="event-name" type="text" value="Fletcher"></div>
  
      <p class="govuk-!-margin-bottom-0">Employer email address</p>


       <div class="govuk-inset-text govuk-!-margin-top-2">
        <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-2">This cannot be changed for an email re-send.</p>
        <p class="govuk-!-margin-top-0">hazel.fletcher@email.com</p>
      </div>
        
       
  <!-- end text inputs -->


  <button class="govuk-button" data-module="govuk-button">
    Continue
</button>

</form>

    </div>
  </main>

  </div>
</div>    
{% endblock %}
{% endblock %}
