{% extends "layout.html" %}

{% block pageTitle %}
  Manage apprenticeships
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}

<div class="govuk-width-container">
  <a href="view-invited-employers" class="govuk-back-link">Back</a>

	<main class="govuk-main-wrapper">

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Invite employers to set up an account
    </h1>

<p class="govuk-body">
  New employers will be sent an invitation email so they can set up and register for an apprenticeship service account.
</p>

<p class="govuk-body">
  The employer will need to enter some details, then add the PAYE scheme for their organisation and accept the legal agreement.
</p>

<h2 class="govuk-heading-m govuk-!-margin-top-6">
  Before you start
</h2>

<p class="govuk-body">
  You will need:
</p>


<ul class="govuk-list govuk-list--bullet">
  <li>
    to have permission from the employer to use their details. Have a conversation with them to let them know to expext the invitation
  </li>
  <li>
    to know the name and email address of the person you're inviting
  </li>
</ul>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Before you start, you must make sure you have spoken to the employer and have permission to invite them to set up an account.
  </strong>
</div>

<a href="enter-the-employer-details-empty" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
  Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg></a>
    </div>
  </main>

  </div>
</div>    
{% endblock %}
{% endblock %}
