#manage-apprenticeships {
     margin-top: -30px;
     .govuk-back-link {
          margin-bottom: 3em;
     }
}

table#manage-apprenticeships-table {
     font-size: 15px;
     .govuk-table__caption--m {
          font-size: 20px;
          margin-bottom: 1.5em;
          font-weight: normal;
          a {
               float: right;
          }
     }
     thead {
          tr {
               th {
                    &.non-filter {
                         color: black;
                         text-decoration: none;
                    }
               }
          }
     }
}

.search-container {
     position: relative;
     .icon {
          &.search {
               background: $govuk-link-colour;
               position: absolute;
               right: 0;
               top: 0;
               width: 2.5em;
               height: 2.5em;
               margin: 0;
          }
     }
}

.sort {
     display: inline-block;
     padding-left: 1.25em;
     // background: red;
     margin: 0 0 0em 0;
     // width: 0.75em;
     // height: 0.75em;
     background: url('../images/sort-blue.svg') no-repeat 0% 15%;
     background-size: 0.65em;
     text-decoration: underline;
     color: $govuk-link-colour;
     &:hover, &:active, &:focus {
          cursor: pointer;
     }
}

.das-pane {
     padding: 1em;
     background: govuk-colour("light-grey");
     margin-bottom: 2em;
}
