{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
               <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">Add apprentice details</h1>
               </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="existing-cohort" name="manual-add" type="radio" value="existing-cohort">
              <label class="govuk-label govuk-radios__label" for="existing-cohort">
                Create a new cohort
              </label>
            </div>
            <br>
          
          </div>
          {{ govukInsetText({
            text: "You do not have any cohorts to be able to add apprentices. You will need to create a cohort or ask the employer to create one, if you do not have permission, to do this on their behalf."
          }) }}
        </fieldset>
      </div>
      

      {{ govukButton({
        text: "Continue",
        href: "#"
      }) }}

  </main>
</div>
{% endblock %}

{% endblock %}
