{% extends "layout.html" %}

{% block pageTitle %}
  Cohort approved and sent to employer
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

	<div class="govuk-width-container">
		<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
		  <div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
			  <div class="govuk-panel govuk-panel--confirmation">
				<h1 class="govuk-panel__title">
				  Cohort sent to employer for review
				</h1>
			  </div>
	  
			  <table class="govuk-table">
				<tbody class="govuk-table__body">
				  <tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Cohort reference</th>
					<td class="govuk-table__cell govuk-!-font-weight-regular">VRY89L</td>
				  </tr>
				  <tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Sent to</th>
					<td class="govuk-table__cell govuk-!-font-weight-regular">SAINSBURY'S</td>
				  </tr>
				  <tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">On behalf of</th>
					<td class="govuk-table__cell govuk-!-font-weight-regular">SOUTHAMPTON ENGINEERING TRAINING ASSOCIATION LIMITED (THE)</td>
				  </tr>
				  <tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">Message</th>
					<td class="govuk-table__cell govuk-!-font-weight-regular">-</td>
				  </tr>

				</tbody>
			  </table>

			  <h2 class="govuk-heading-m">What happens next</h2>
	  
			  <p class="govuk-body">
				The employer will review the cohort and either approve it or contact you with an update.
			  </p>

			  <p class="govuk-body">
				<a href="#" class="govuk-link">Go to apprentice requests</a>
			  </p>
			  <p class="govuk-body">
				<a href="#" class="govuk-link">Go to homepage</a>
			  </p>

			  <p class="govuk-body">
				<a href="https://www.surveymonkey.co.uk/r/viewlevy" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
			  </p>
			</div>
		  </div>
		</main>
	  </div>
	
</div>


{% endblock %}

{% endblock %}
