{% extends "layout.html" %}

{% block pageTitle %}
  Review your cohort
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}

<style>
    .alignleft {
    float: left;
}
.alignright {
    float: right;
}
</style>

<div class="govuk-width-container">

	
	<a href="javascript:history.back()" class="govuk-back-link">Back</a>
	

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
					    
		    <h1 class="govuk-heading-xl govuk-!-margin-top-8">View apprentice details</h1>		 
		    
	    </div>
	</div>
			
	
	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-two-thirds">
		    		   
			<p class="govuk-body"><strong>Employer:</strong> SAINSBURY'S</p>
			<p class="govuk-body"><strong>Cohort reference:</strong> VRY89L</p>
			<p class="govuk-body"><strong>Status:</strong> Ready for review</p>
			<p class="govuk-body"><strong>Message:</strong>
			<div class="govuk-inset-text">
				No message added.
			  </div>
			</p>

		</div>
	</div>
	
	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">

			<div class="group-header">

				<h3 class="govuk-heading-m group-title govuk-!-margin-bottom-0">2 x Food and Drink: Meat and Poultry Industry Skills, Level: 2</h3>
				<p>Training code: 203-2-1</p>
			</div>
			
			
			  <table class="govuk-table">
			  <thead class="govuk-table__head">
				<tr class="govuk-table__row">
				  <th scope="col" class="govuk-table__header">Name</th>
				  <th scope="col" class="govuk-table__header">Unique learner number</th>
				  <th scope="col" class="govuk-table__header">Date of birth</th>
				  <th scope="col" class="govuk-table__header">Training dates</th>
				  <th scope="col" class="govuk-table__header">Cost</th>
				  <th scope="col" class="govuk-table__header"></th>
				</tr>
			  </thead>
			  <tbody class="govuk-table__body">
				<tr class="govuk-table__row">
				  <td class="govuk-table__cell">Louise James</td>
				  <td class="govuk-table__cell">9384922898</td>
				  <td class="govuk-table__cell">13 Jan 2000</td>
				  <td class="govuk-table__cell">Jan 2021 to Jul 2022</td>
				  <td class="govuk-table__cell">£1,250</td>
				  <td class="govuk-table__cell"><a href="#">View</a></td>
				</tr>
				<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Mark Smith</td>
					<td class="govuk-table__cell">6493849228</td>
					<td class="govuk-table__cell">7 Apr 1999</td>
					<td class="govuk-table__cell">Jan 2021 to Jul 2022</td>
					<td class="govuk-table__cell">£1,250</td>
					<td class="govuk-table__cell"><a href="#">View</a></td>
				</tr>
			  </tbody>
			</table>	
			

			<h3 class="govuk-heading-m group-title govuk-!-margin-bottom-0">1 x Business and Professional Administration, Level: 4</h3>
			<p>Training code: 783-2-1</p>		
		
		  <table class="govuk-table">
		  <thead class="govuk-table__head">
			<tr class="govuk-table__row">
			  <th scope="col" class="govuk-table__header">Name</th>
			  <th scope="col" class="govuk-table__header">Unique learner number</th>
			  <th scope="col" class="govuk-table__header">Date of birth</th>
			  <th scope="col" class="govuk-table__header">Training dates</th>
			  <th scope="col" class="govuk-table__header">Cost</th>
			  <th scope="col" class="govuk-table__header"></th>
			</tr>
		  </thead>
			<tbody class="govuk-table__body">
			<tr class="govuk-table__row">
				<td class="govuk-table__cell">David Clarke</td>
				<td class="govuk-table__cell">9093849228</td>
				<td class="govuk-table__cell">7 Apr 1999</td>
				<td class="govuk-table__cell">Jan 2021 to Jul 2022</td>
				<td class="govuk-table__cell">£1,525</td>
				<td class="govuk-table__cell"><a href="#">View</a></td>
			</tr>
		  </tbody>
		</table>	



			<table class="govuk-table govuk-!-margin-bottom-8">
				<thead class="govuk-table__head">
				  <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header das-table-cell-width-80">Total apprenticeship training price<br> (excluding VAT)</th>
					<th scope="col" class="govuk-table__header">£2,500</th>
				  </tr>
				</thead>
				</tbody>
			  </table>	
  
			  


			</div>
		</div>


</div>
</div>


{% endblock %}

{% endblock %}
