{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
	<a href="manual" class="govuk-back-link">Back</a>

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
					    
		    <h1 class="govuk-heading-l  govuk-!-margin-top-4">Choose a cohort</h1>	
			
			
			<div class="govuk-grid-row govuk-!-margin-bottom-6">
				<div class="govuk-grid-column-two-thirds">
					{{ govukInsetText({
						text: "             You do not have permission to add apprentices to any cohorts which are with the employer. If you feel you should have permission to carry out this function you will need to speak to the relevant employer and ensure you have the correct permissions. 
						"
					  }) }}
				</div>
			</div>


			
				<table class="govuk-table govuk-!-margin-bottom-8" id="order-table-one">
				<thead class="govuk-table__head">
				  <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" style="width:400px" onclick="sortTableOne(0)"><span class="icon sort"></span>Employer</th>
					<th scope="col" class="govuk-table__header" onclick="sortTableOne(1)"><span class="icon sort"></span>Cohort</th>
					<th scope="col" class="govuk-table__header" onclick="sortTableOne(2)"><span class="icon sort"></span>Status</th>
					<th scope="col" class="govuk-table__header"><div style="color:black; text-align: right;"><a style="text-decoration-color: white" >Number of<br> apprentices</div></a></th>
					<th scope="col" class="govuk-table__header"></th>
				  </tr>
				</thead>
				  <tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">SAINSBURY'S</td>
						<td class="govuk-table__cell">LPG302</td>
						<td class="govuk-table__cell">With employer</td>
						<td class="govuk-table__cell" style="text-align: right;">2</td>
						<td class="govuk-table__cell"></td>
					</tr>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
							  <td class="govuk-table__cell">SAINSBURY'S</td>
							  <td class="govuk-table__cell">V7V790</td>
							  <td class="govuk-table__cell">With employer</td>
							  <td class="govuk-table__cell" style="text-align: right;">0</td>
							  <td class="govuk-table__cell"></td>
							</tr>
							<tbody class="govuk-table__body">
							  <tr class="govuk-table__row">
								<td class="govuk-table__cell">BARBERRY COVENTRY LIMITED</td>
								<td class="govuk-table__cell">QK4RPR</td>
								<td class="govuk-table__cell">With employer</td>
								<td class="govuk-table__cell" style="text-align: right;">7</td>
								<td class="govuk-table__cell"></td>
							</tr>  
							  <tbody class="govuk-table__body">
								  <tr class="govuk-table__row">
									<td class="govuk-table__cell">AUTOMATION & OPTIMISATION LTD</td>
									<td class="govuk-table__cell">WYR038</td>
									<td class="govuk-table__cell">With transfer sending employer</td>
									<td class="govuk-table__cell" style="text-align: right;">1</td>
									<td class="govuk-table__cell"></td>
								</tr>  	
							 
				</tbody>
			  </table>		
		  </div>
	  </div>
  
		    
	    </div>
	</div>
	
</div>	







{% endblock %}

{% endblock %}
