{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
     <a href="index" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper" id="main-content" role="main">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">

                    <form method="post" novalidate data-validate='my-form-validation'>

                         <h1 class="govuk-heading-l">Add new apprentices</h1>

                         <div class="govuk-form-group">
                              <fieldset class="govuk-fieldset">
                                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                   </legend>
                                   <div class="govuk-radios">
                                        <div class="govuk-radios__item">
                                             <input class="govuk-radios__input" id="add-apprentice-option" name="add-apprentice-option" type="radio" value="added-upload">
                                             <label class="govuk-label govuk-radios__label" for="add-apprentice-upload">Upload a CSV file</label>
                                             <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">You can create or add to an existing cohort for 1 or more apprentices for 1 or more employers.</div>
                                        </div>
                                        <div class="govuk-radios__item">
                                             <input class="govuk-radios__input" id="add-apprentice-manually" name="add-apprentice-option" type="radio" value="added-manually">
                                             <label class="govuk-label govuk-radios__label" for="add-apprentice-manually">Manually</label>
                                             <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">You can add  additional apprentices to an existing cohort or create a new cohort.</div>
                                        </div>
                                   </div>
                              </fieldset>
                         </div>

                        {{ govukButton({
                             text: "Continue",
                             
                               href: "manual"
                        }) }}

                    </form>

                    <script type="application/json" id="my-form-validation">
                         { 		  	
                              "add-apprentice-option": {
                             "presence": {
                               "message": "^you must select an option"
                             }
                           }
                         }
                       </script>

               </div>
          </div>
     </main>

</div>
{% endblock %}

{% endblock %}
