{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "./includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            New apprentices added and sent to employer for approval
          </h1>
        </div>

        <p class="govuk-body">We have sent a confirmation email to you and the employer.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          The employers will need to approve the new apprentices before they're added to the service.
        </p>

        <ul class="govuk-list">
          <li><a href="index" class="govuk-link">Go to dashboard</a></li>
          <li><a href="apprentices-with-employers" class="govuk-link">View apprentice details with employers</a></li>
          <li><a href="manual-or-upload" class="govuk-link">Add more apprentices</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>
{% endblock %}

{% endblock %}
