{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
	<a href="manual" class="govuk-back-link">Back</a>

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
					    
		    <h1 class="govuk-heading-l  govuk-!-margin-top-4">Choose a cohort</h1>		
			  
				<table class="govuk-table govuk-!-margin-bottom-8" id="order-table-one">
				<thead class="govuk-table__head">
				  <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" style="width:400px" onclick="sortTableOne(0)"><span class="icon sort"></span>Employer</th>
					<th scope="col" class="govuk-table__header" onclick="sortTableOne(1)"><span class="icon sort"></span>Cohort</th>
					<th scope="col" class="govuk-table__header" onclick="sortTableOne(2)"><span class="icon sort"></span>Date created</th>
					<th scope="col" class="govuk-table__header"><div style="color:black; text-align: right;"><a style="text-decoration-color: white" >Number of<br> apprentices</div></a></th>
					<th scope="col" class="govuk-table__header"></th>
				  </tr>
				</thead>
				  <tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">SAINSBURY'S</td>
						<td class="govuk-table__cell">LPG302</td>
						<td class="govuk-table__cell">25 Jun 2021</td>
						<td class="govuk-table__cell" style="text-align: right;">2</td>
						<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
					</tr>
						<tbody class="govuk-table__body">
							<tr class="govuk-table__row">
							  <td class="govuk-table__cell">SAINSBURY'S</td>
							  <td class="govuk-table__cell">V7V790</td>
							  <td class="govuk-table__cell">24 Jun 2021</td>
							  <td class="govuk-table__cell" style="text-align: right;">0</td>
							  <td class="govuk-table__cell"><a href="review-cohort-0">Select</a></td>
							</tr>
							<tbody class="govuk-table__body">
							  <tr class="govuk-table__row">
								<td class="govuk-table__cell">BARBERRY COVENTRY LIMITED</td>
								<td class="govuk-table__cell">QK4RPR</td>
								<td class="govuk-table__cell">24 Jun 2021</td>
								<td class="govuk-table__cell" style="text-align: right;">7</td>
								<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
							</tr>  
							  <tbody class="govuk-table__body">
								  <tr class="govuk-table__row">
									<td class="govuk-table__cell">AUTOMATION & OPTIMISATION LTD</td>
									<td class="govuk-table__cell">WYR038</td>
									<td class="govuk-table__cell">24 Jun 2021</td>
									<td class="govuk-table__cell" style="text-align: right;">1</td>
									<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
								</tr>  	
							  <tbody class="govuk-table__body">
								  <tr class="govuk-table__row">
									<td class="govuk-table__cell">SAINSBURY'S</td>
									<td class="govuk-table__cell">LPI30L</td>
									<td class="govuk-table__cell">24 Jun 2021</td>
									<td class="govuk-table__cell" style="text-align: right;">8</td>
									<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
								</tr>  	
							  <tbody class="govuk-table__body">
								  <tr class="govuk-table__row">
									<td class="govuk-table__cell">COMPLIANCE LIMITED</td>
									<td class="govuk-table__cell">VJP88J</td>
									<td class="govuk-table__cell">24 Jun 2021</td>
									<td class="govuk-table__cell" style="text-align: right;">1</td>
									<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
								</tr>  	
							  <tbody class="govuk-table__body">
								  <tr class="govuk-table__row">
									<td class="govuk-table__cell">SAINSBURY'S</td>
									<td class="govuk-table__cell">VJP89K</td>
									<td class="govuk-table__cell">24 Jun 2021</td>
									<td class="govuk-table__cell" style="text-align: right;">1</td>
									<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
								</tr>  	
							  <tbody class="govuk-table__body">
								  <tr class="govuk-table__row">
									<td class="govuk-table__cell">TESCO</td>
									<td class="govuk-table__cell">QDY56H</td>
									<td class="govuk-table__cell">24 Jun 2021</td>
									<td class="govuk-table__cell" style="text-align: right;">10</td>
									<td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
								</tr>  	
								<tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ONA CONSULTING LTD</td>
									  <td class="govuk-table__cell">JKJBL8</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ENGINEERING & BUILDING SOLUTIONS LTD</td>
									  <td class="govuk-table__cell">N467WD</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ENGINEERING & BUILDING SOLUTIONS LTD</td>
									  <td class="govuk-table__cell">D9DD6Y</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">2</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">TESCO</td>
									  <td class="govuk-table__cell">JKJJ4J</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ONA CONSULTING LTD</td>
									  <td class="govuk-table__cell">XDPKLP</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">0</td>
									  <td class="govuk-table__cell"><a href="review-cohort-0">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">TESCO</td>
									  <td class="govuk-table__cell">RBB7L9</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">COVENTRY NEWSPAPERS LIMITED</td>
									  <td class="govuk-table__cell">8NNY8R</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">3</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">COMPLIANCE LIMITED</td>
									  <td class="govuk-table__cell">GX7474</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">M4JB7L</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">MJYD7L</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">VXBR9Y</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">MGW8GX</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>

								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">WARWICKSHIRE CHAMBER OF COMMERCE</td>
									  <td class="govuk-table__cell">6PRX49</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">WARWICKSHIRE CHAMBER OF COMMERCE</td>
									  <td class="govuk-table__cell">GXJDX4</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">MWWDX4</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">YJNWP8</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">WARWICKSHIRE CHAMBER OF COMMERCE</td>
									  <td class="govuk-table__cell">D9J67P</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">WARWICKSHIRE CHAMBER OF COMMERCE</td>
									  <td class="govuk-table__cell">WDG7DY</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">TESCO</td>
									  <td class="govuk-table__cell">D9JG9X</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">TESCO</td>
									  <td class="govuk-table__cell">PN6DN4</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">TESCO</td>
									  <td class="govuk-table__cell">L7BR7Y</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">COMPLIANCE LIMITED</td>
									  <td class="govuk-table__cell">RBRG77</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">COMPLIANCE LIMITED</td>
									  <td class="govuk-table__cell">MXWKKY</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">COMPLIANCE LIMITED</td>
									  <td class="govuk-table__cell">N49JGY</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ONA CONSULTING LTD</td>
									  <td class="govuk-table__cell">VDKDB6</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">SAINSBURY'S</td>
									  <td class="govuk-table__cell">RBP4BP</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">SAINSBURY'S</td>
									  <td class="govuk-table__cell">YGW8GX</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">SAINSBURY'S</td>
									  <td class="govuk-table__cell">R69XGD</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">SAINSBURY'S</td>
									  <td class="govuk-table__cell">MRG44J</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">SAINSBURY'S</td>
									  <td class="govuk-table__cell">MGW89X</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">VBXGY6</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>
								  <tbody class="govuk-table__body">
									<tr class="govuk-table__row">
									  <td class="govuk-table__cell">ASDA GROUP LIMITED</td>
									  <td class="govuk-table__cell">Y8W8GX</td>
									  <td class="govuk-table__cell">24 Jun 2021</td>
									  <td class="govuk-table__cell" style="text-align: right;">1</td>
									  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Select</a></td>
									</tr>


								



						
								
		  
				  </tr>
				</tbody>
			  </table>		
		  </div>
	  </div>
  
		    
	    </div>
	</div>
	
</div>	







{% endblock %}

{% endblock %}
