
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Continuous improvement</span>
          <h1 class="govuk-heading-xl">Training provider prototypes</h1>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

               <!-- START project -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Manage apprenticeships</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Sorting on Manage your apprentices page
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list">
                              <li><a href="manage/index" class="govuk-link">Manage apprenticeships</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project -->

               <!-- START project -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Revise Provider Roles</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                              Providers need more granular permissions for their account users, particularly to separate out data admin tasks and reservation/recruit.<br>
                         </div>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                         <ul class="govuk-list">
                              <li><a href="roles/access-denied" class="govuk-link">Access denied page</a></li>
                              <li><a href="roles/access-denied-v2" class="govuk-link">Access denied page - without account owners</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project -->

               <!-- START project  -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Bulk uploads</span>
                         </h2>
                    </div>
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                         <ul class="govuk-list">
                              <li><a href="bulk-upload/" class="govuk-link">Version 3</a><p>CI Sprint 14/04/21-27/04/21</p></li>
                              <li><a href="bulk-upload/v2" class="govuk-link">Version 2</a><p>CI Sprint 31/03/21 - 13/04/21</p></li>
                              <li><a href="bulk-upload/v1/" class="govuk-link">Version 1</a><p>CI Sprint 17/03/21 - 30/03/21</p></li>
                         </ul>
                    </div>
               </div>
               <!-- END project -->

          </div>
     </div>
</div>

{% endblock %}
