
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
     <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">Continuous improvement</span>
          <h1 class="govuk-heading-xl">Training provider prototypes</h1>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

                 <!--START adding apprentices-->
                 <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                      <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                           379 - Adding apprentices (manual) - no permissions
                        </span>
                      </h2>
                      <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                         When an employer has not granted permission for a TP to add apprentices 
                    </div>

                    </div>
                    <!-- start 142 -->
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                     <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
                        <p class="govuk-body"><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-379">Ticket 379:</a> <strong>When an employer has not granted permission for a TP to add apprentices</strong><br><br>
                             UX - <a href="https://lucid.app/lucidspark/3d8ca6c2-b5b8-498a-868e-439b659a83c6/edit?shared=true#" class="govuk-link govuk-link--no-visited-state">Lucid Spark</a><br>
 
                        </p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      <div class="govuk-grid-row">
                          <ul class="govuk-list govuk-list--bullet">
                               <li><a href="379/v1/index" class="govuk-link govuk-link--no-visited-state">V1 designs</a></li>
                               
                              </ul>
                      </div>
                     
                     </div>
                  </div>
                  <!-- end 142 -->
                </div>
              <!--END adding apprentices-->


    
                    <!--START HIT feedback-->
                    <div class="govuk-accordion__section ">
                         <div class="govuk-accordion__section-header">
                           <h2 class="govuk-accordion__section-heading">
                             <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                               HIT training feedback
                             </span>
                           </h2>
                           <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Improvements in the training provider account 
                         </div>

                         </div>
                         <!-- start 368 -->
                         <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                          <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
                             <p class="govuk-body"><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-368">Ticket 368:</a> <strong>Help users find employer agreement ID</strong><br><br>
                                  UX - <a href="https://lucid.app/lucidspark/29d3078c-43cd-4f47-81e6-fff881ac43bc/edit?invitationId=inv_2ee177b5-6c1f-4afb-b132-cdc908b6e0f3" class="govuk-link govuk-link--no-visited-state">Lucid Spark</a><br>
      
                             </p>
                             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                           <div class="govuk-grid-row">
                               <ul class="govuk-list govuk-list--bullet">
                                    <li><a href="368/bulk-upload-apprentices" class="govuk-link govuk-link--no-visited-state">Bulk upload apprentices</a> (on the current live page, pre going live with new bulk upload jouney)</li>
                                   </ul>
                           </div>
                          
                          </div>
                       </div>
                       <!-- end 368 -->

                         <!-- start 142 -->
                         <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                          <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
                             <p class="govuk-body"><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-142">Ticket 142:</a> <strong>Make it easier to find a cohort on Apprentice requests</strong><br><br>
                                  UX - <a href="https://lucid.app/lucidspark/invitations/accept/inv_fc440455-f274-497c-a3fe-a4260af15fd5" class="govuk-link govuk-link--no-visited-state">Lucid Spark</a><br>
      
                             </p>
                             <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                           <div class="govuk-grid-row">
                               <ul class="govuk-list govuk-list--bullet">
                                    <li><a href="142/apprentice-requests-ready-for-review" class="govuk-link govuk-link--no-visited-state">Apprentice requests</a></li>
                                    <li><a href="142/apprentice-requests-ready-for-review-0" class="govuk-link govuk-link--no-visited-state">Apprentice requests - 0 cohorts</a></li>
                                   </ul>
                           </div>
                          
                          </div>
                       </div>
                       <!-- end 142 -->
                     </div>
                   <!--END HIT feedback-->

               <!--START PAS MIGRATION-->
               <div class="govuk-accordion__section ">
                   <div class="govuk-accordion__section-header">
                     <h2 class="govuk-accordion__section-heading">
                       <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                         PAS migration to Approvals
                       </span>
                     </h2>
                   </div>
                   <!-- start 332 -->
                   <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                      <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
                         <p class="govuk-body"><a href="https://skillsfundingagency.atlassian.net/browse/CIDES-332">Ticket 332:</a><strong> GDS updates on Confirmation pages</strong><br><br>
                              UX - <a href="https://lucid.app/lucidspark/invitations/accept/inv_9fd5a9f7-9d4f-47c2-bf3b-bcc6d1b07fea" class="govuk-link govuk-link--no-visited-state">Lucid Spark</a>
                         </p>
                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                      <div class="govuk-grid-row">
                                <ul class="govuk-list govuk-list--bullet">
                                   <li><a href="cohort/mvs/confirmation-approve" class="govuk-link govuk-link--no-visited-state">Cohort approved and sent to employer</a></li>
                                   <li><a href="cohort/mvs/confirmation-review" class="govuk-link govuk-link--no-visited-state">Cohort sent for review</a></li>
                                   <li><a href="cohort/mvs/confirmation-transfer" class="govuk-link govuk-link--no-visited-state">Transfer sender</a></li>
                                   <li><a href="cohort/mvs/confirmation-change-of-party" class="govuk-link govuk-link--no-visited-state">Change of party cohort</a></li>
                                   <li><a href="cohort/mvs/confirmation-approve-transfer" class="govuk-link govuk-link--no-visited-state">Cohort approved and sent to employer, before going to the Transfer-sender</a></li>
                                </ul>                                
                      </div>     
                      </div>
                   </div>
                    <!-- end 332 -->
                   <!-- start 312 -->
                   <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                    <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
                       <p class="govuk-body">Ticket 312: <strong>Align PAS Review your cohort pages with EAS</strong><br><br>
                            UX - <a href="https://lucid.app/lucidspark/invitations/accept/inv_9fd5a9f7-9d4f-47c2-bf3b-bcc6d1b07fea" class="govuk-link govuk-link--no-visited-state">Lucid Spark</a><br>
                            UX - <a href="https://miro.com/app/board/o9J_lHe01Ew=/?moveToWidget=3074457360603933477&cot=14" class="govuk-link govuk-link--no-visited-state">Miro (OLD)</a>

                       </p>
                       <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                         <p class="govuk-body">MVS</p>
                     <div class="govuk-grid-row">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="cohort/mvs/index" class="govuk-link govuk-link--no-visited-state">Approve apprentice details</a></li>
                              <li><a href="cohort/mvs/apprentices-0" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - 0 apprentices</a></li>
                              <li><a href="cohort/mvs/incomplete-record-v2" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - incomplete record</a></li>
                              <li><a href="cohort/mvs/unsigned-agreement" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - unsigned agreement</a></li>
                              <li><a href="cohort/mvs/overlapping" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - overlapping dates</a></li>
                              <li><a href="cohort/mvs/maximum-funding" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - maximum funding</a></li>
                              <li><a href="cohort/mvs/warning" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - multiple warnings</a></li>
                              <li><a href="cohort/mvs/multiple-warning-one-learner" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - multiple warnings for one learner</a></li>
                              <li><a href="cohort/mvs/view" class="govuk-link govuk-link--no-visited-state">View apprentice details</a></li>
                              <li><a href="cohort/mvs/view-0" class="govuk-link govuk-link--no-visited-state">View apprentice details - 0 apprentices</a></li>
                              <li><a href="cohort/mvs/view-transfer-funding-rejected" class="govuk-link govuk-link--no-visited-state">View apprentice details - transfer funding rejected</a></li>
                         </ul>
                     </div>
                     <p class="govuk-body">Post MVS - showing which apprentice has the warning</p>
                     <div class="govuk-grid-row">
                         <ul class="govuk-list govuk-list--bullet">
                              <li><a href="cohort/index" class="govuk-link govuk-link--no-visited-state">Approve apprentice details</a></li>
                              <li><a href="cohort/apprentices-0" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - 0 apprentices</a></li>
                              <li><a href="cohort/warning" class="govuk-link govuk-link--no-visited-state">Approve apprentice details - cannot approve</a></li>
                              <li><a href="cohort/view" class="govuk-link govuk-link--no-visited-state">View apprentice details</a></li>
                         </ul>   
                     </div>                            
                    </div>
                 </div>
                 <!-- end 312 -->
               </div>
             <!--END PAS MIGRATION-->

               <!-- START BULK UPLOAD OF APPRENTICES  -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-3">Bulk upload of apprentices</span>
                         </h2>
                    </div>

                    <!-- start live bulk upload pages -->
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                         <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
     
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <ul class="govuk-list">
                         <li><b>Existing bulk upload page to advertise upcoming changes - </b> <a href="https://skillsfundingagency.atlassian.net/browse/CIDES-325" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Ticket 325</a></li>
                    </ul> 
                    
                    <ul class="govuk-list govuk-list--bullet">
                         <li><a href="bulk-upload/bulk-upload-live" class="govuk-link govuk-link--no-visited-state">Bulk upload apprentices</a></li>
                    </ul>
               </div>
                    </div>
               </div>


                    <!-- end live bulk upload page -->
                    
                    <!-- start choose an employer -->
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                         <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
     
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <ul class="govuk-list">
                         <li><b>Choose an employer page -</b> <a href="https://skillsfundingagency.atlassian.net/browse/CIDES-345" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Ticket 345</a></li>
                         <li>UX - <a href="https://lucid.app/lucidspark/invitations/accept/inv_3e6eacae-349d-4847-9290-cf1069ddd575" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Lucid board</a></li>
                    </ul> 
                    
                    <ul class="govuk-list govuk-list--bullet">
                         <li><a href="bulk-upload/manual-journey/choose-employer" class="govuk-link govuk-link--no-visited-state">Choose an employer: add apprentices</a></li>
                         <li><a href="bulk-upload/manual-journey/choose-employer-search" class="govuk-link govuk-link--no-visited-state">Choose an employer: add apprentices - search</a></li>
                         <li><a href="bulk-upload/manual-journey/choose-employer-search-0" class="govuk-link govuk-link--no-visited-state">Choose an employer: add apprentices - search 0 results</a></li>
                         <li><a href="manage-funding/choose-an-employer" class="govuk-link govuk-link--no-visited-state">Choose an employer: reserving funding</a></li>
                         <li><a href="manage-funding/choose-an-employer-search" class="govuk-link govuk-link--no-visited-state">Choose an employer: reserving funding - search</a></li>
                         <li><a href="manage-funding/choose-an-employer-search-0" class="govuk-link govuk-link--no-visited-state">Choose an employer: reserving funding - search 0 results</a></li>
                    </ul>
               </div>
                    </div>
               </div>
                    <!-- end choose an employer -->

                    <!-- start 328 -->
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                         <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
     
                    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                    <ul class="govuk-list">
                         <li><b>Organisations and agreements page -</b> <a href="https://skillsfundingagency.atlassian.net/browse/CIDES-328" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Ticket 328</a></li>
                         <li>UX - <a href="https://lucid.app/lucidspark/invitations/accept/inv_06f1a06a-683b-4d60-b279-77d9824869ae" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">Lucid board</a></li>
                    </ul> 
                    
                    <ul class="govuk-list govuk-list--bullet">
                         <li><a href="bulk-upload/organisations-and-agreements" class="govuk-link govuk-link--no-visited-state">Organisations and agreements page</a></li>
                         <li><a href="bulk-upload/organisations-and-agreements-search" class="govuk-link govuk-link--no-visited-state">Organisations and agreements page - searched an organisation</a></li>
                         <li><a href="bulk-upload/organisations-and-agreements-search-0" class="govuk-link govuk-link--no-visited-state">Organisations and agreements page - 0 search results</a></li>
                    </ul>
                    
                    <p class ="govuk-body"></p>
    
                    
                    <details class="govuk-details" data-module="govuk-details">
                         <summary class="govuk-details__summary">
                           <span class="govuk-details__summary-text">
                             Ideas
                           </span>
                         </summary>
                         <div class="govuk-details__text">
                              <ul>
                                   <li><a href="bulk-upload/v5/organisations-and-agreements" class="govuk-link govuk-link--no-visited-state">Current live page design</a></li><br>
                                   <li><a href="bulk-upload/v5/organisations-and-agreements-v1" class="govuk-link govuk-link--no-visited-state">Redesign option 1: search box and/or table sorts</a></li>
                                   <li><a href="bulk-upload/v5/organisations-and-agreements-v2" class="govuk-link govuk-link--no-visited-state">Redesign option 2: split cohorts on next page</a></li>
                                   <li><a href="bulk-upload/v5/organisations-and-agreements-v3" class="govuk-link govuk-link--no-visited-state">Redesign option 3: split cohorts & agreement ID on next page</a></li>
                                   <li><a href="bulk-upload/v5/organisations-and-agreements-v4" class="govuk-link govuk-link--no-visited-state">Redesign option 4: no cohort ID</a></li>
                              </ul>
                                   </div>
                       </details>

                    </div>
                         </div>
                         <!-- end 328 -->

                         <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

                         <!-- start file upload -->
                         <div id="accordion-default-content-3" class="govuk-accordion__section-content">
                              <div style="border:5px solid #f3f2f1; background: #f3f2f1" class="govuk-!-padding-6">
          
                         <ul class="govuk-list">
                              <li><b>File upload journey</b></li>
                              <li><a href="https://lucid.app/lucidspark/invitations/accept/inv_c8099152-5cfa-40fe-be7a-9840c98ca10b" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">UX journey flows (Lucid)</a></li>
                              <li><a href="https://miro.com/app/board/o9J_lUmWTNI=/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">UX journey flows (Miro) OLD, NOT UP TO DATE</a></li>
                              <li><a href="https://drive.google.com/drive/folders/1y2cnXWB5QB9oZ_zGSwlVP4IxKewC0cBZ" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">UR findings</a></li><br>
                              <li><a href="bulk-upload/" class="govuk-link govuk-link--no-visited-state">Version 6</a><p>CI Sprint 21/07/21-03/08/21</p>
                              
                         <p class="govuk-body">
                              <details class="govuk-details" data-module="govuk-details">
                                   <summary class="govuk-details__summary">
                                     <span class="govuk-details__summary-text">
                                       Page variation list
                                     </span>
                                   </summary>
                                   
                                   <div class="govuk-details__text">
                                        <ul class="govuk-list govuk-list--bullet">
                                             <li><a href="bulk-upload/review-cohort" class="govuk-link">File upload - Review apprentices: adding to existing cohort created (with apprentices)</a></li>
                                             <li><a href="bulk-upload/review-cohort-created" class="govuk-link">File upload - Review apprentices: adding to existing cohort created (empty)</a></li>
                                             <li><a href="bulk-upload/review-cohort-new" class="govuk-link">File upload - Review apprentices: new cohort to be created</a></li>
                                             <li><a href="bulk-upload/review-cohort-funding-band-max" class="govuk-link">File upload - Review apprentices: above funding band maximum</a></li>
                                             <li><a href="bulk-upload/file-upload-check-contributor" class="govuk-link">File upload - Check new apprentice records: no account permission to approve (contributor account) </a></li>
                                             <li><a href="bulk-upload/manual-journey/existing-cohorts-0.html" class="govuk-link">Manual upload - Choose a cohort: 0 cohorts to choose from </a></li>
                                        </ul>
                                   </div>
                                 </details>
                         <p>
                              
                              
                              
                              </li>
                              <li><a href="bulk-upload/v5" class="govuk-link govuk-link--no-visited-state">Version 5</a><p>CI Sprint 23/06/21-06/07/21</p></li>
                              <li><a href="bulk-upload/v4" class="govuk-link govuk-link--no-visited-state">Version 4</a><p>CI Sprint 26/05/21-08/06/21</p></li>
                              <li><a href="bulk-upload/v3" class="govuk-link govuk-link--no-visited-state">Version 3</a><p>CI Sprint 14/04/21-27/04/21</p></li>
                              <li><a href="bulk-upload/v2" class="govuk-link govuk-link--no-visited-state">Version 2</a><p>CI Sprint 31/03/21 - 13/04/21</p></li>
                              <li><a href="bulk-upload/v1/" class="govuk-link govuk-link--no-visited-state">Version 1</a><p>CI Sprint 17/03/21 - 30/03/21</p></li>
                         </ul>
                              </div>
                         </div>
                         <!-- end file upload -->
                    </div>
               </div>
               <!-- END project -->
               
               <!-- START project -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">Manage apprenticeships</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
                              Sorting on Manage your apprentices page
                         </div>
                    </div>
                    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                         <ul class="govuk-list">
                              <li><a href="manage/index" class="govuk-link">Manage apprenticeships</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project -->

               <!-- START project -->
               <div class="govuk-accordion__section ">
                    <div class="govuk-accordion__section-header">
                         <h2 class="govuk-accordion__section-heading">
                              <span class="govuk-accordion__section-button" id="accordion-default-heading-2">Revise Provider Roles</span>
                         </h2>
                         <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-2">
                              Providers need more granular permissions for their account users, particularly to separate out data admin tasks and reservation/recruit.<br>
                         </div>
                    </div>
                    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                         <ul class="govuk-list">
                              <li><a href="roles/access-denied" class="govuk-link">Access denied page</a></li>
                              <li><a href="roles/access-denied-v2" class="govuk-link">Access denied page - without account owners</a></li>
                         </ul>
                    </div>
               </div>
               <!-- END project -->


          </div>
     </div>
</div>

{% endblock %}
