{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
	<a href="#" class="govuk-back-link">Back</a>
	

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
					    
		    <h1 class="govuk-heading-l  govuk-!-margin-top-4">Draft apprentice details</h1>		 
			  
				<table class="govuk-table  govuk-!-margin-bottom-8">
				<thead class="govuk-table__head">
				  <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Employer</th>
					<th scope="col" class="govuk-table__header">Reference</th>
					<th scope="col" class="govuk-table__header">Number of apprentices</th>
					<th scope="col" class="govuk-table__header"></th>
				  </tr>
				</thead>
				<tbody class="govuk-table__body">
				  <tr class="govuk-table__row">
					<td class="govuk-table__cell">SAINSBURY'S</td>
					<td class="govuk-table__cell">VRY89L</td>
					<td class="govuk-table__cell">2</td>
					<td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
				  </tr>
				  <tbody class="govuk-table__body">
					<tr class="govuk-table__row">
					  <td class="govuk-table__cell">SAINSBURY'S</td>
					  <td class="govuk-table__cell">QK4RPR</td>
					  <td class="govuk-table__cell">7</td>
					  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
					</tr>  
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
						  <td class="govuk-table__cell">SAINSBURY'S</td>
						  <td class="govuk-table__cell">WYR038</td>
						  <td class="govuk-table__cell">1</td>
						  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
					</tr>  	
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
						  <td class="govuk-table__cell">SAINSBURY'S</td>
						  <td class="govuk-table__cell">LPI30L</td>
						  <td class="govuk-table__cell">8</td>
						  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
					</tr>  	
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
						  <td class="govuk-table__cell">SAINSBURY'S</td>
						  <td class="govuk-table__cell">VJP88J</td>
						  <td class="govuk-table__cell">1</td>
						  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
					</tr>  	
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
						  <td class="govuk-table__cell">SAINSBURY'S</td>
						  <td class="govuk-table__cell">VJP89K</td>
						  <td class="govuk-table__cell">1</td>
						  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
					</tr>  	
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
						  <td class="govuk-table__cell">TESCO</td>
						  <td class="govuk-table__cell">QDY56H</td>
						  <td class="govuk-table__cell">10</td>
						  <td class="govuk-table__cell"><a href="review-cohort-apprentices">Details</a></td>
					</tr>  	
				  <tbody class="govuk-table__body">
				  <tr class="govuk-table__row">
					  <td class="govuk-table__cell">SAINSBURY'S</td>
					  <td class="govuk-table__cell">LPG302</td>
					  <td class="govuk-table__cell">0</td>
					  <td class="govuk-table__cell"><a href="review-cohort-0">Details</a></td>
					  </tr>
	  
				  </tr>
				</tbody>
			  </table>		
		  </div>
	  </div>
  
		    
	    </div>
	</div>
	
</div>	







{% endblock %}

{% endblock %}
