{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
	<a href="file-upload" class="govuk-back-link">Back</a>
	

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
		    		    
					    
		    <h1 class="govuk-heading-l  govuk-!-margin-top-4">Check your entries</h1>		 
		    
		    
		    <p class="gov-body">Total: <strong>15</strong> Apprentices uploaded, Cost is <strong>£1500</strong></p>   
		    
		    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
		    
		    <dl class="govuk-summary-list govuk-summary-list--no-border">
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Employer
			    </dt>
			    <dd class="govuk-summary-list__value">
			      Sainsbury's
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Cohorts
			    </dt>
			    <dd class="govuk-summary-list__value">
			      1
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Apprentices
			    </dt>
			    <dd class="govuk-summary-list__value">
			      10
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Status
			    </dt>
			    <dd class="govuk-summary-list__value">
			      xxx
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Message
			    </dt>
			    <dd class="govuk-summary-list__value">
			      Lorem ipsum dollar
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Cost
			    </dt>
			    <dd class="govuk-summary-list__value">
			      £2000
			    </dd>
			  </div>
			</dl>
			
			
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

		    
		    <dl class="govuk-summary-list govuk-summary-list--no-border">
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Employer
			    </dt>
			    <dd class="govuk-summary-list__value">
			      Tesco
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Cohorts
			    </dt>
			    <dd class="govuk-summary-list__value">
			      2
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Apprentices
			    </dt>
			    <dd class="govuk-summary-list__value">
			      5
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Status
			    </dt>
			    <dd class="govuk-summary-list__value">
			      xxx
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Message
			    </dt>
			    <dd class="govuk-summary-list__value">
			      Lorem ipsum dollar
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Cost
			    </dt>
			    <dd class="govuk-summary-list__value">
			      £2000
			    </dd>
			  </div>
			</dl>
			
		    
		    <!-- <p>Summary (per employer: total cost | number of apprentices | messages | status | incomplete records</p>
		    
		    <p>Summary all: total cost | number of apprentices</p>
		    
		    <p>duplicates, over-writing?</p>
		    
		    <p>Automatically added apprentice request/cohorts, or used existing cohorts</p>
		    
		    <p>Potential data lock issues?</p> -->
		    		    		    
		    		    		    
		    		    		    
		    <!-- Detailed view
		    
		    
		    <details class="govuk-details" data-module="govuk-details">
			  <summary class="govuk-details__summary">
			    <span class="govuk-details__summary-text">
			      View all records
			    </span>
			  </summary>
			  <div class="govuk-details__text">
				  
				  
				<div class="group-header">
	                <h3 class="heading-medium group-title">1 x Food and Drink: Meat and Poultry Industry Skills, Level: 3</h3>
	                <p>Training code: 403-2-1</p>
                </div>
			    
			    <table class="govuk-table govuk-!-margin-top-8">
				  <thead class="govuk-table__head">
				    <tr class="govuk-table__row">
				      <th scope="col" class="govuk-table__header">Name</th>
				      <th scope="col" class="govuk-table__header">Employer</th>
				      <th scope="col" class="govuk-table__header">Cohort</th>
				      <th scope="col" class="govuk-table__header">Unique learner number</th>
				      <th scope="col" class="govuk-table__header">Training dates</th>
				      <th scope="col" class="govuk-table__header">Cost</th>
				    </tr>
				  </thead>
				  <tbody class="govuk-table__body">
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Mark Smith</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£700</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">David Clarke</td>
				      <td class="govuk-table__cell">Tesco</td>
				      <td class="govuk-table__cell">01981733</td>
				      <td class="govuk-table__cell">9384922</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017  	</td>
				      <td class="govuk-table__cell">£1789</td>
				    </tr>
				  </tbody>
				</table>

			  </div>
			</details>
			
			
			 END Detailed view -->
			
			
			<!--  Accordian view -->
			
			
			<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
				
			 
			  <div class="govuk-accordion__section ">
				  
			    <div class="govuk-accordion__section-header">
			      <h2 class="govuk-accordion__section-heading">
			        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
			          Data Lock's (0)
			        </span>
			      </h2>
			    </div>
			    
			    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
			      
				<p class="gov-body">We have identified the following Data Lock risks</p>
			      
			    </div>
			  </div>
			 
			 
			  <div class="govuk-accordion__section ">
				  
			    <div class="govuk-accordion__section-header">
			      <h2 class="govuk-accordion__section-heading">
			        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
			          Apprentice requests to be created or used (3)
			        </span>
			      </h2>
			    </div>
			    
			    <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
			      
				<dl class="govuk-summary-list govuk-!-margin-bottom-8">
				  <div class="govuk-summary-list__row">
				    <dt class="govuk-summary-list__key">
				      1234567
				    </dt>
				    <dd class="govuk-summary-list__value">
				      Created
				    </dd>
				  </div>
				  <div class="govuk-summary-list__row">
				    <dt class="govuk-summary-list__key">
				     009988
				    </dt>
				    <dd class="govuk-summary-list__value">
				      Created
				    </dd>
				  </div>
				  <div class="govuk-summary-list__row">
				    <dt class="govuk-summary-list__key" style="border-bottom: none;">
				      67890
				    </dt>
				    <dd class="govuk-summary-list__value" style="border-bottom: none;">
				      Used
				    </dd>
				  </div>
				</dl>
			      
			    </div>
			  </div>
			  
			  
			  <div class="govuk-accordion__section ">
			    <div class="govuk-accordion__section-header">
			      <h2 class="govuk-accordion__section-heading">
			        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
			          View all records (15)
			        </span>
			      </h2>
			    </div>
			    <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
			      
			      
			      <div class="group-header">
	                <h3 class="govuk-heading-m group-title">1 x Food and Drink: Meat and Poultry Industry Skills, Level: 3</h3>
	                <p>Training code: 403-2-1</p>
                </div>
                
                
			      <table class="govuk-table  govuk-!-margin-bottom-8">
				  <thead class="govuk-table__head">
				    <tr class="govuk-table__row">
				      <th scope="col" class="govuk-table__header">Name</th>
				      <th scope="col" class="govuk-table__header">Employer</th>
				      <th scope="col" class="govuk-table__header">Cohort</th>
				      <th scope="col" class="govuk-table__header">Unique learner number</th>
				      <th scope="col" class="govuk-table__header">Training dates</th>
				      <th scope="col" class="govuk-table__header">Cost</th>
				    </tr>
				  </thead>
				  <tbody class="govuk-table__body">
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Mark Smith</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£700</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">David Clarke</td>
				      <td class="govuk-table__cell">Tesco</td>
				      <td class="govuk-table__cell">01981733</td>
				      <td class="govuk-table__cell">9384922</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017  	</td>
				      <td class="govuk-table__cell">£1789</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Mark Smith</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£700</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">David Clarke</td>
				      <td class="govuk-table__cell">Tesco</td>
				      <td class="govuk-table__cell">01981733</td>
				      <td class="govuk-table__cell">9384922</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017  	</td>
				      <td class="govuk-table__cell">£1789</td>
				    </tr>
				  </tbody>
				</table>
				
				
				 
			      <div class="group-header">
	                <h3 class="govuk-heading-m group-title">1 x Food and Drink: Meat and Poultry Industry Skills, Level: 2</h3>
	                <p>Training code: 203-2-1</p>
                </div>
                
                
			      <table class="govuk-table  govuk-!-margin-bottom-8">
				  <thead class="govuk-table__head">
				    <tr class="govuk-table__row">
				      <th scope="col" class="govuk-table__header">Name</th>
				      <th scope="col" class="govuk-table__header">Employer</th>
				      <th scope="col" class="govuk-table__header">Cohort</th>
				      <th scope="col" class="govuk-table__header">Unique learner number</th>
				      <th scope="col" class="govuk-table__header">Training dates</th>
				      <th scope="col" class="govuk-table__header">Cost</th>
				    </tr>
				  </thead>
				  <tbody class="govuk-table__body">
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Mark Smith</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£700</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">David Clarke</td>
				      <td class="govuk-table__cell">Tesco</td>
				      <td class="govuk-table__cell">01981733</td>
				      <td class="govuk-table__cell">9384922</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017  	</td>
				      <td class="govuk-table__cell">£1789</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Mark Smith</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£700</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">David Clarke</td>
				      <td class="govuk-table__cell">Tesco</td>
				      <td class="govuk-table__cell">01981733</td>
				      <td class="govuk-table__cell">9384922</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017  	</td>
				      <td class="govuk-table__cell">£1789</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Louise James</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">1234567</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£1200</td>
				    </tr>
				    <tr class="govuk-table__row">
				      <td class="govuk-table__cell">Mark Smith</td>
				      <td class="govuk-table__cell">Sainsbury's</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">93849228</td>
				      <td class="govuk-table__cell">May 2017 to Jul 2017</td>
				      <td class="govuk-table__cell">£700</td>
				    </tr>
				    </tr>
				  </tbody>
				</table>
			      
			    </div>
			  </div>
			  
			  
			</div>
			
			<!--  END Accordian view -->
			
			
			<!--  CTA's -->
			
			<div class="govuk-button-group">
			  <a class="govuk-button" data-module="govuk-button" href="succsess">
			    Save and send to employers
			  </a>
			
			  <a class="govuk-button govuk-button--secondary" data-module="govuk-button">
			    Save as draft
			  </a>
			</div>
			
			
			<p class="gov-body"><a class="govuk-link" href="index">Cancel</a></p>
			
			
			<!--  END CTA's -->
		    
		    
	    </div>
	</div>

</div>


{% endblock %}

{% endblock %}
