{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">

	<a href="file-upload" class="govuk-back-link">Back</a>

	<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
          <div class="govuk-error-summary__body">
               <span id="file-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> The file could not be uploaded because it contains errors. No records have been uploaded.
               </span>
               <p>
                    There are <strong>4</strong> errors across <strong>3</strong> records that you need to fix.
               </p>
               <p>
                    <strong>You can also <a href="#" class="govuk-link govuk-link--no-visited-state">download the CSV file showing errors</a>.</strong>
               </p>
          </div>
	  </div>


	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">

		    <h1 class="govuk-heading-l  govuk-!-margin-top-4">Your CSV file has the following errors </h1>

							<!-- ERROR TABLE 1 -->
		<div class="govuk-form-group govuk-form-group--error">
			<table class="govuk-table govuk-!-margin-top-8">
				<caption class="govuk-table__caption govuk-table__caption--s govuk-!-margin-bottom-4 govuk-error-message"><span class="govuk-visually-hidden">Error:</span>You need to correct the errors and upload the file again</caption>
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Row</th>
					<th scope="col" class="govuk-table__header">Employer</th>
					<th scope="col" class="govuk-table__header">Unique learner number</th>
					<th scope="col" class="govuk-table__header">Name</th>
					<th scope="col" class="govuk-table__header">Errors</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">1</th>
					<td class="govuk-table__cell">SAINSBURY'S</td>
					<td class="govuk-table__cell">VJP88J</td>
					<td class="govuk-table__cell">Louise James</td>
					<td class="govuk-table__cell">The <strong>start date</strong> overlaps with existing training dates for the same apprentice</td>
					</tr>
					<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">2</th>
					<td class="govuk-table__cell">SAINSBURY'S</td>
					<td class="govuk-table__cell">LJP08Y</td>
					<td class="govuk-table__cell">Mark Smith</td>
					<td class="govuk-table__cell">The <strong>start date</strong> overlaps with existing training dates for the same apprentice<br>The <strong>end date</strong> overlaps with existing training dates for the same apprentice</td>
					</tr>
					<tr class="govuk-table__row">
					<th scope="row" class="govuk-table__header">3</th>
					<td class="govuk-table__cell">TESCO</td>
					<td class="govuk-table__cell">RDP28J</td>
					<td class="govuk-table__cell">David Clarke</td>
					<td class="govuk-table__cell">You must enter a valid <strong>unique learner number</strong></td>
					</tr>
				</tbody>
				</table>

		</div>
			<!-- END ERROR TABLE 1 -->


			<!-- REUPLOAD CSV FILE -->
			<form action="file-upload-check" method="post" class="govuk-!-margin-top-8" novalidate>

			<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
	            <h1 class="govuk-fieldset__heading">
	              Upload your amended file
	            </h1>
	          </legend>

			  <div class="govuk-form-group govuk-!-margin-top-6">
				<label class="govuk-label" for="file-upload-1">
				  Your CSV file should not be larger than XXmb
				</label>
				<input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
			  </div>			    
             <!-- END REUPLOAD CSV FILE -->
			  
			 <!-- CTA -->
			<div class="govuk-button-group govuk-!-margin-top-6">
				<a class="govuk-button" data-module="govuk-button" href="file-upload-duplicates">Continue</a>
		   </div>
		   <p class="gov-body govuk-!-margin-bottom-8"><a class="govuk-link" href="index">Cancel</a></p>
			<!-- END CTA -->

	    </div>
	</div>

</div>


{% endblock %}

{% endblock %}
