{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
  <a href="index" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="file-upload-errors" method="post" novalidate>
			
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload a CSV file to add apprentices
            </h1>
          </legend>
              
          <div class="govuk-form-group">
		  <label class="govuk-label" for="file-upload-1">
		    Process explanation 
		  </label>
		  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
		</div>
			
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>
  </main>
  
  
 
 <details class="govuk-details  govuk-!-margin-bottom-8" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with bulk upload
    </span>
  </summary>
  <div class="govuk-details__text">
	    <p>
	        You must use a csv file to upload apprentice details.
	    </p>
	    <p>
	        If you have a management information system, it may be able to create a csv file for you.
	    </p>
	    <p>
	        Alternatively, a bulk upload template and further details of each field are available - <a href="https://www.gov.uk/government/publications/apprenticeship-service-bulk-upload-specification">view apprenticeship service bulk upload guidance</a>.
	    </p>
  </div>
</details>
  
  
</div>
{% endblock %}

{% endblock %}
