{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
     <a href="index" class="govuk-back-link">Back</a>

     <main class="govuk-main-wrapper" id="main-content" role="main">
          <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">


                         <h1 class="govuk-heading-l">You do not have permission to create cohorts and you do not have any cohorts that you can add apprentices to</h1>

                         <p class="govuk-body">
                               
                         </p>
                         <p class="govuk-body">     
                              You will need to ask employers to give you permission to create cohorts on their behalf, or you will need to ask the employer to create the cohort for you.
                         </p>

                         <button class="govuk-button" data-module="govuk-button">Go to homepage</button>


               </div>
          </div>
     </main>

</div>
{% endblock %}

{% endblock %}
