
{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}
<div class="govuk-width-container">

     <a href="file-upload-before" class="govuk-back-link">Back</a>

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


     <h1 class="govuk-heading-xl govuk-!-margin-top-6">Agreement ID: YJ77B7</h1>

     <p class="govuk-body">Listed below are the cohorts you have with AUTOMATION & OPTIMISATION LTD.</p>

     <table class="govuk-table" id="order-table-one">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header" onclick="sortTableOne(1)"><span class="icon sort"></span>Cohort ID</th>
					<th scope="col" class="govuk-table__header" onclick="sortTableOne(2)"><span class="icon sort"></span>Date created</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ77B7</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ77B7</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ77B7</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ77B7</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ77B7</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ77B7</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>

        
        

      </tbody>
    </table>

    <p class="govuk-body">You can download this data as a <a href="#">CSV</a> or <a href="#">Excel</a> file.</p>

      </div>
     </div>
</div>

{% endblock %}
{% endblock %}
