
{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}
<div class="govuk-width-container">

     <a href="javascript:history.back()" class="govuk-back-link">Back</a>

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">


     <h1 class="govuk-heading-xl govuk-!-margin-top-9">Organisations and agreements</h1>

     <p class="govuk-body">Listed below is every organisation you work with on the apprenticeship service and their agreement ID.</p>
     <p class="govuk-body">You need to add this agreement ID to the individualised learner record (ILR) data. This allows us to provide users with better error messages whenever a data mismatch occurs.</p>
     
     <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Organisation</th>
          <th scope="col" class="govuk-table__header">Cohort ID</th>
          <th scope="col" class="govuk-table__header">Agreement ID</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">AUTOMATION & OPTIMISATION LTD</td>
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">7GXEKP</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">BARBERRY COVENTRY LIMITED</td>
          <td class="govuk-table__cell">M6KRBN</td>
          <td class="govuk-table__cell">75492K</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">BARBERRY COVENTRY LIMITED</td>
          <td class="govuk-table__cell">M7N9B6</td>
          <td class="govuk-table__cell">75492K</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">BARBERRY COVENTRY LIMITED</td>
          <td class="govuk-table__cell">MD676G</td>
          <td class="govuk-table__cell">75492K</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">BARBERRY COVENTRY LIMITED</td>
          <td class="govuk-table__cell">ML8PJL</td>
          <td class="govuk-table__cell">75492K</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COMPLIANCE LIMITED</td>
          <td class="govuk-table__cell">79967B</td>
          <td class="govuk-table__cell">XRRXXE</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">4R7B9K</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">4R98D6</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">6PLKYL</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">9GNRNX</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">JK4898</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">KK7JLY</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">M4XY9G</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY & WARWICKSHIRE CHAMBER OF COMMERCE</td>
          <td class="govuk-table__cell">M6J7Y9</td>
          <td class="govuk-table__cell">3YBKWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">MG6B7G</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">MGGWBD</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">MGP87W</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">MLYGY9</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">MR9ND4</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">MX9Y8N</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">V6JWJG</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VJNW49</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">XD8K9B</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VYWND8</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VYBNDX</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VXXRWB</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VRGX7D</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VPXKLG</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VPBGRB</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VNJ4WD</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VL8NK9</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VL8JBG</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">VBD499</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">V96JKN</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">COVENTRY ACCOUNTANTS LTD</td>
          <td class="govuk-table__cell">V96JKN</td>
          <td class="govuk-table__cell">7YVRWV</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ESFA LTD</td>
          <td class="govuk-table__cell">PNJ6D8</td>
          <td class="govuk-table__cell">7GJDM6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ESFA LTD</td>
          <td class="govuk-table__cell">RBR4KB</td>
          <td class="govuk-table__cell">7GJDM6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ESFA LTD</td>
          <td class="govuk-table__cell">RBR9D8</td>
          <td class="govuk-table__cell">7GJDM6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ESFA LTD</td>
          <td class="govuk-table__cell">RBYBNN</td>
          <td class="govuk-table__cell">7GJDM6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ESFA LTD</td>
          <td class="govuk-table__cell">RBYRGG</td>
          <td class="govuk-table__cell">7GJDM6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ONA CONSULTING LTD</td>
          <td class="govuk-table__cell">MK6X47</td>
          <td class="govuk-table__cell">7DG2B6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">ONA CONSULTING LTD</td>
          <td class="govuk-table__cell">V9B8RY</td>
          <td class="govuk-table__cell">7DG2B6</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">BB4N8Y</td>
          <td class="govuk-table__cell">7498YM</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">M6BDGD</td>
          <td class="govuk-table__cell">7498YM</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">M87GXB</td>
          <td class="govuk-table__cell">7498YM</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">MBLY79</td>
          <td class="govuk-table__cell">7498YM</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">MBLYD9</td>
          <td class="govuk-table__cell">7498YM</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SAINSBURY'S</td>
          <td class="govuk-table__cell">MG6GGR</td>
          <td class="govuk-table__cell">7498YM</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">SETUP & GROW LTD</td>
          <td class="govuk-table__cell">PNJLDX</td>
          <td class="govuk-table__cell">7ZV52V</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">TESCO</td>
          <td class="govuk-table__cell">MP7PR9</td>
          <td class="govuk-table__cell">7YXW69</td>
        </tr>

      </tbody>
    </table>

    <p class="govuk-body">You can download this data as a <a href="#">CSV</a> or <a href="#">Excel</a> file.</p>

      </div>
     </div>
</div>

{% endblock %}
{% endblock %}
