
{% extends "layout.html" %}

{% block pageTitle %}
Agreement ID: YJ77B7
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}
<div class="govuk-width-container">

     <a href="organisations-and-agreements-v2" class="govuk-back-link">Back</a>

     <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl govuk-!-margin-top-6">AUTOMATION & OPTIMISATION LTD</span>
        <h1 class="govuk-heading-xl">Agreement ID: YJ77B7</h1>
        
      
     <!-- <h1 class="govuk-heading-xl govuk-!-margin-top-6">AUTOMATION & OPTIMISATION LTD agreement ID: YJ77B7</h1> -->

     <p class="govuk-body">Listed below are the cohorts you have with this employer.</p>
     <p class="govuk-body">You can download this data as a <a href="#">CSV</a> or <a href="#">Excel</a> file.</p>


     <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Cohort ID</th>
					<th scope="col" class="govuk-table__header">Date created</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">YJ77B7</td>
          <td class="govuk-table__cell">13 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">M6KRBN</td>
          <td class="govuk-table__cell">12 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">M7N9B6</td>
          <td class="govuk-table__cell">12 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">MD676G</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">V6JW9J</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">VB9KPG</td>
          <td class="govuk-table__cell">8 Jul 2021</td>
        </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">VJN4L8</td>
            <td class="govuk-table__cell">8 Jul 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">YJ7N6K</td>
            <td class="govuk-table__cell">18 Jun 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MR669K</td>
            <td class="govuk-table__cell">18 Jun 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">M9967B</td>
            <td class="govuk-table__cell">18 Jun 2021</td>
          </tr>
          <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MR7B9K</td>
            <td class="govuk-table__cell">11 Jun 2021</td>
          </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MGNRNX</td>
            <td class="govuk-table__cell">11 Jun 2021</td>
          </tr>
          <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">JK4898</td>
          <td class="govuk-table__cell">6 Apr 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">KK7JLY</td>
          <td class="govuk-table__cell">6 Apr 2021</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">M4XY9G</td>
          <td class="govuk-table__cell">8 Nov 2020</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">M6J7Y9</td>
          <td class="govuk-table__cell">7 Nov 2020</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">N47GNP</td>
          <td class="govuk-table__cell">29 Mar 2020</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">RBPL7P</td>
          <td class="govuk-table__cell">29 Mar 2020</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">XD8K9B</td>
          <td class="govuk-table__cell">26 Mar 2020</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">VYWND8</td>
          <td class="govuk-table__cell">9 Sep 2019</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">8NKWG4</td>
          <td class="govuk-table__cell">9 Sep 2019</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">M7KNLP</td>
          <td class="govuk-table__cell">9 Sep 2019</td>
        </tr>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">MG6B7G</td>
          <td class="govuk-table__cell">3 Apr 2019</td>
        </tr>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">MGGWBD</td>
          <td class="govuk-table__cell">18 Sep 2018</td>
        </tr>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MGGWBD</td>
            <td class="govuk-table__cell">9 Jul 2018</td>
          </tr>

        
        

      </tbody>
    </table>


      </div>
     </div>
</div>

{% endblock %}
{% endblock %}
