{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "../includes/account-header+nav.html" %}

{% block content %}


<div class="govuk-width-container">
	
	<a href="file-upload-check" class="govuk-back-link">Back</a>
	

	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-full">
					    
		    <h1 class="govuk-heading-xl  govuk-!-margin-top-4">Review apprentices</h1>		 
		    
	    </div>
	</div>
	
		
	
	<div class="govuk-grid-row">
	    <div class="govuk-grid-column-two-thirds">
		    		    						 
		    <dl class="govuk-summary-list govuk-summary-list">
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Employer
			    </dt>
			    <dd class="govuk-summary-list__value">
			      SAINSBURY'S
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Cohort
			    </dt>
			    <dd class="govuk-summary-list__value">
					This will be created when you save or send to employers
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Total apprentices
			    </dt>
			    <dd class="govuk-summary-list__value">
			      2
			    </dd>
			  </div>
			  <div class="govuk-summary-list__row">
			    <dt class="govuk-summary-list__key">
			      Total cost
			    </dt>
			    <dd class="govuk-summary-list__value">
			      £2,500
			    </dd>
			  </div>
			</dl>

		</div>
	</div>
	


			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			
		
			<!-- <div class="group-header">
				<h2 class="govuk-heading-l group-title">Apprentice details</h2>
			</div> -->
			
			<div class="govuk-warning-text">
				<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
				<strong class="govuk-warning-text__text">
				  <span class="govuk-warning-text__assistive">Warning</span>
				  If you need to correct any records, you need to amend the data in your LMS, then upload your CSV file again</a>.
				</strong>
			  </div>


			  <div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
		
			  <table class="govuk-table">
			  <thead class="govuk-table__head">
				<tr class="govuk-table__row">
				  <th scope="col" class="govuk-table__header">Name</th>
				  <th scope="col" class="govuk-table__header">Apprenticeship training course</th>
				  <th scope="col" class="govuk-table__header">ULN</th>
				  <th scope="col" class="govuk-table__header">Date of birth</th>
				  <th scope="col" class="govuk-table__header">Email</th>
				  <th scope="col" class="govuk-table__header">Training dates</th>
				  <th scope="col" class="govuk-table__header">Price</th>
				  <!-- <th scope="col" class="govuk-table__header"></th> -->
				</tr>
			  </thead>
			  <tbody class="govuk-table__body govuk-!-font-size-16">
				<tr class="govuk-table__row">
				  <td class="govuk-table__cell">Claire Jones</td>
				  <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 4</td>
				  <td class="govuk-table__cell">9384922898</td>
				  <td class="govuk-table__cell">13 Jan 2000</td>
				  <td class="govuk-table__cell">clairejones@emailaddress.com</th>
				  <td class="govuk-table__cell">Jan 2021 to Jul 2022</td>
				  <td class="govuk-table__cell">£1,250</td>
				  <!-- <td class="govuk-table__cell"><a href="#">Edit</a></td> -->
				</tr>
				<tbody class="govuk-table__body govuk-!-font-size-16">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Mark Smith</td>
					<td class="govuk-table__cell">Abattoir worker, Level: 2</td>
					<td class="govuk-table__cell">6493849228</td>
					<td class="govuk-table__cell">7 Apr 1999</td>
					<td class="govuk-table__cell">mark.smith@emailaddress.com</th>
					<td class="govuk-table__cell">Jan 2021 to Jul 2022</td>
					<td class="govuk-table__cell">£1,250</td>
					<!-- <td class="govuk-table__cell"><a href="#">Edit</a></td> -->
					</tr>
	
				</tr>
			  </tbody>
			</table>		
	    </div>
	</div>

	
	
	<a href="file-upload-check" class="govuk-back-link govuk-!-margin-bottom-6">Back</a>

</div>


{% endblock %}

{% endblock %}
