
{% extends "layout.html" %}

{% block pageTitle %}
  Bulk uploads prototype - Training provider
{% endblock %}


{% block main %}

{% include "./includes/account-header+nav.html" %}

{% block content %}
<div class="govuk-width-container">

     <a href="file-upload" class="govuk-back-link">Back</a>


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

          <h1 class="govuk-heading-l  govuk-!-margin-top-4">Check and confirm your new apprentices</h1>
          <p class="govuk-body"><strong>apprentice_upload.csv</strong> file has been uploaded with 0 errors.</p>
          <p>If you need to amend an apprentice record,  you will need to make amendments in your CSV file and upload again.</p>

          </div>
     </div>


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">

               <span class="govuk-caption-l">Total apprentices:</span>
               <h1 class="govuk-heading-l">30</h1>

          </div>

          <div class="govuk-grid-column-one-third">

               <span class="govuk-caption-l">Total cost:</span>
               <h1 class="govuk-heading-l">£30,000</h1>

          </div>
     </div>


     <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

               <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

			 <!-- EMPLOYER 1       -->
               <div class="group-header">
                    <h2 class="govuk-heading-m group-title">SAINSBURY'S</h2>
               </div>

               <table class="govuk-table  govuk-!-margin-bottom-8" id="order-table-one">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header" onclick="sortTableOne(0)"><span class="icon sort"></span>Cohort</th>
                              <th scope="col" class="govuk-table__header" onclick="sortTableOne(1)"><span class="icon sort"></span>Standard</th>
                              <th scope="col" class="govuk-table__header" onclick="sortTableOne(2)"><span class="icon sort"></span>Apprentices added</th>
                              <th scope="col" class="govuk-table__header"></th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">VRY89L</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 4</td>
                              <td class="govuk-table__cell">2</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">QK4RPR</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 4</td>
                              <td class="govuk-table__cell">7</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">WYR038</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 3</td>
                              <td class="govuk-table__cell">1</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">LPI30L</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 2</td>
                              <td class="govuk-table__cell">8</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">VJP88J</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 1</td>
                              <td class="govuk-table__cell">1</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">VJP89K</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 1</td>
                              <td class="govuk-table__cell">1</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>

                    </tbody>
               </table>
			<!-- END EMPLOYER 1 -->

			<!-- EMPLOYER 2 -->
               <div class="group-header">
                    <h2 class="govuk-heading-m group-title">TESCO</h2>
               </div>
               <table class="govuk-table  govuk-!-margin-bottom-8" id="order-table-two">
                    <thead class="govuk-table__head">
                         <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header" onclick="sortTableTwo(3)"><span class="icon sort"></span>Cohort</th>
                              <th scope="col" class="govuk-table__header" onclick="sortTableTwo(4)"><span class="icon sort"></span>Standard</th>
                              <th scope="col" class="govuk-table__header" onclick="sortTableTwo(5)"><span class="icon sort"></span>Apprentices added</th>
                              <th scope="col" class="govuk-table__header"></th>
                         </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                              <td class="govuk-table__cell">QDY56H</td>
                              <td class="govuk-table__cell">Food and Drink: Meat and Poultry Industry Skills, Level: 3</td>
                              <td class="govuk-table__cell">10</td>
                              <td class="govuk-table__cell"><a href="review-cohort" class="govuk-link">View cohort</a></td>
                         </tr>
                    </tbody>
               </table>
               <!-- END EMPLOYER 2 -->

               <!--  RADIO BUTTONS -->
               <div class="govuk-form-group">

                    <form method="post">

                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h2 class="govuk-fieldset__heading">
                          Choose an option
                        </h2>
                      </legend>
                      <div class="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="details-approve" name="bulk-upload-confirm" type="radio" value="details-approve">
                          <label class="govuk-label govuk-radios__label" for="details-approve">
                            Approve and send to employer for approval
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="details-review" name="bulk-upload-confirm" type="radio" value="details-review">
                          <label class="govuk-label govuk-radios__label" for="details-review">
                            Send to employer to review
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="details-save" name="bulk-upload-confirm" type="radio" value="details-save">
                          <label class="govuk-label govuk-radios__label" for="details-save">
                            Save but don't send to employer
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                         <input class="govuk-radios__input" id="details-new-file" name="bulk-upload-confirm" type="radio" value="details-new-file">
                         <label class="govuk-label govuk-radios__label" for="details-new-file">
                           Upload an amended file
                         </label>
                       </div>
                      </div>
                  
                    </fieldset>
                  </div>               
               <!--  END RADIO BUTTONS -->

               <!-- CTA'S -->
               <button class="govuk-button" data-module="govuk-button">
                    Save and continue
               </button>
               <p class="gov-body govuk-!-margin-bottom-8"><a class="govuk-link" href="discard-file">Cancel and discard the upload</a></p>

               <!-- END CTA's -->

          </div>

     </div>
</div>
{% endblock %}
{% endblock %}
